
/* common-styles  */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 600;
    font-size: 3rem;
}
h4{
    font-weight: 600;
}
.txt-clr{
    color: #E76F51;
}

/* top-header-focus-section-style  */
#h-small-text{
    font-size: 0.8rem; 
    color: #E76F51;
}

.top-hdr{
    background-color: #264653;
    padding:96px 0px;
}

.custom-btn{
    background-color: #E76F51;
    color: white;
    font-weight: 500px;
    transition: transform 0.2s ease-in;
}
.custom-btn:hover{
    transform: scale(1.15);
    color: white;
}


/* Fetured-Bikes-section-style  */
#small-text{
    font-size: 0.8rem; 
    color: #E76F51;
}

.f-bike img{
    filter: grayscale(100%);
}

/* happy-Clients-section-style  */

.fa-star{
    color:#E77C40 ;
}
.revwr{
    font-weight: 600;
}


/* FAQ-section-styles  */
.faq-images img{
    width: 100%;
}

.accord-text{
    font-size: 1.2rem;
    font-weight: 500;
}

/* subscription-section-style  */
.sub-style{
    background-color: rgb(245, 112, 89);
    color: white;
}
.custom-btn-2{
    background-color: white;
    color: #E76F51;
    font-weight: 500px;
    border: 0px;
    transition: transform 0.2s ease-in;
}

.custom-btn-2:hover{
    transform: scale(1.15);
    color: #E76F51;
}